@charset "utf-8";

:root {
  /* ===color ======================= */
  --color-bg: #f3e6d3;
  --color-bg2: palegoldenrod;
  --color-black: #333;
  --color-table: #d8ac6b;
  --color-orange: #e39400;
  /* ===space ======================= */
  --space-xxs: clamp(0.3rem, 0.162rem + 0.69vw, 0.75rem);
  --space-xs: clamp(1rem, 0.908rem + 0.46vw, 1.3rem);
  --space-s: clamp(1.5rem, 1.056rem + 2.22vw, 3rem);
  --space-m: clamp(2rem, 1.704rem + 1.48vw, 3rem);
  --space-l: clamp(3rem, 2.407rem + 2.96vw, 5rem);
  --space-xl: clamp(0.5rem, -0.577rem + 5.38vw, 4rem);
  --space-xxl: 80px;
  /* ===font ======================== */
  --font-serif: "Noto Serif JP", serif;
  /* title */
  --title-h1: clamp(1.8rem, 1.727rem + 0.36vw, 2rem);
  --title-h2: clamp(1.375rem, 1.26rem + 0.58vw, 1.5rem);
  --title-h3: clamp(1rem, 0.923rem + 0.38vw, 1.25rem);
  --title-h4: 1rem;
}
